body{
	margin: 0;
	background-color: #f1f1f1;
}
header{
	background-color: cadetblue;
	padding: 20px;
	text-align: center;
	color: white;
	font-family: "comic sans ms",arial;
}

nav{
	overflow: hidden;
	background-color:#333 ;
}
nav a{
	float: left;
	color: #ffffff;
	padding: 11px 10px 9px 8px;
	text-decoration: none;
}
nav a:hover{
	background-color: black;
	color: white;
}
.column{
	float: left;
	padding: 10px;
}
.column.side{
	width: 20%;
}
.column.middle{
	width: 50%;
}
input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical: ;
}
input[type=submit]{
	background-color: green;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	border: none;
	margin: 2px;
}




@media screen and (max-width: 617px)
.column.side,column.middle{
	width: 100%;
}
/*This is paragraph*/
p{
	text-align: justify;
}

footer{
	clear: both;
	background-color: green;
	color: white;
	padding: 20px;
	text-align: centre;
	font-family: comic sans ms;
}
div.gallery{
		margin: 5px;
	border: 5px solid black;
	float: left;
	width: 180px;
}
div.gallery:hover{
	border: 5px solid rec;
}
div.gallery img{
	width: 100%;
	height: auto;
}
div.desc{
padding:15px ;
text-align: center;
}


